* {
    font-family: sans-serif;
}

a[href="/"]{
    color: darkred;
}

a:hover{
    text-decoration: none;
}

h1 {
    font-size: 2rem;
    text-align: center;
}   

body {
    background-color: lightblue;
    height: 100%;
    width: 100%;
}

main {
    margin: auto;
    width: 50ch;
    padding: 20px;
    border: 3px solid #000;
    border-radius: 12px;
    background-color: #FFFFFF;
}

time {
    font-style: italic;
}   

.unsubscribe {
    color: rgb(0, 0, 255);
}

#submit-msg {    
    margin-bottom: 20px;
}

#submit-msg+p {
    margin-top: 20px;
    margin-bottom: -5px;
    text-align: center;
}

#user-email {
    background-color: lightgray;
    font-family: monospace;
    color: #000;
}