/* CSS for Portfolio Pages by Kyle Alvarez (A16003938) */ 


/* || GENERAL STYLES */


/* || TYPOGRAPHY */ 
@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url('https://fonts.cdnfonts.com/css/esteban'); 

html {
  overflow-y: scroll;
}

body {
  position: absolute;
}


html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: Esteban, Georgia;
}



/* || HEADER and MAIN NAVIGATION */

header {
    background: rgb(148, 242, 174);
    text-align: center;
    position: fixed;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    z-index: 999;
    width: 100%;
}


h1 {
    /* float: left; */
    color: white;
    text-shadow: -1px 1px 0 #000;

}

h1 a:visited{
    color: lightgreen;
}

h1 a {
    color: lightgreen;
    text-decoration: none;
}


nav {
    position: absolute;
    text-align: right;
    top: 100%;
    right: 0;
    background: rgb(148, 242, 174);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



nav li {
    margin-bottom: 1em;
    margin-right: 1em;
    text-align: right;
}

nav a {
    font-size: 1.1rem;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav ul a:hover {
    color: white;
}

nav a:visited {
    text-decoration: none;
    color: black;
}

.toggle-nav {
    display: none;
}

.toggle-nav-label {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.toggle-nav-label span,
.toggle-nav-label span::before,
.toggle-nav-label span::after {
    display: block;
    background: black;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.toggle-nav-label span::before,
.toggle-nav-label span::after{
    content: '';
    position: absolute;

}

.toggle-nav-label span::before {
    bottom: 7px;
}

.toggle-nav-label span::after {
    top: 7px;
}


.toggle-nav:checked ~ nav {
    transform: scale(1, 1);
}

.toggle-nav:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

/* || BODY */ 
.cover-text {
  background-image: url("/Cover-Background.png");
  background-color: rgb(191, 191, 191);
  background-size: cover;
  background-blend-mode: multiply;
  padding: 300px;
  color: white;
}

/* || FOOTER */

footer {
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    padding: 1rem;
    font-size: 12px;
  }
  
  .footer-column-left,
  .footer-column-middle,
  .footer-column-right {
    flex-basis: 30%;
    max-width: 30%;
    margin-right: 30px;
  }
  
  .footer-column-left {
    text-align: left;
    padding-left: 1.5rem;
  }
  
  .footer-column-left h2 {
    margin-bottom: 10px;
  }
  
  .footer-column-left p {
    margin-bottom: 20px;
  }
  
  .social-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .social-links li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-links a {
    color: #616161;
    text-decoration: none;
  }

  .social-links a:hover {
    text-decoration: underline;
  }
  
  
  .footer-column-middle {
    text-align: center;
  }
  
  .footer-column-middle h2 {
    margin-bottom: 10px;
  }
  
  .navigation-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction:  column;
  }

  
  .navigation-links a {
    color: #616161;
    text-decoration: none;
  }

  .navigation-links li:hover {
    text-decoration: underline;
  }
  
  
  .footer-column-right {
    text-align: right;
    padding-right: 1.5rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    
  }
  
  form label {
    margin-bottom: 5px;
    color: #616161;
  }
  
  form input,
  form textarea {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  form input[type="submit"] {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  form input[type="submit"]:hover {
    background-color: #555;
  }

@media screen and (min-width: 800px) {
    .toggle-nav-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr
    }

    h1 {
        grid-column: 2 / 3;
        white-space: nowrap;

    }

    nav {
        all: unset;
        left:initial;
        grid-column: 3 / 5;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        white-space: nowrap;

        
    }

    nav ul {
        display: flex;
        justify-self: flex-end;        
    }

    nav li {
        margin-left: 1em;
        margin-bottom: 0;
        display: inline;
        


    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: white;
        position: absolute;
        bottom: -.75em;
        left: 0;
        right: 0;
        transform: scale(0,1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1, 1)
    }
}